<builder-component name="marvel-scroll"  api-key="916d220a40fa459ea6ae8c091d2bdf18" rev="86c80cb6d4224ac9a5f2fbf6db23ce8a" entry="5d76937b643140ddbb31a4966a228d30"  style="display: flex; flex-direction: column; align-items: stretch">

<style type="text/css" class="builder-styles builder-api-styles">
  .builder-block.builder-d7074f4 {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 500px;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
    height: 125px;
    flex-grow: 1;
    margin: 30px auto 20px;
  }
  .builder-block.builder-fea8de1 {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 0;
    width: 85%;
    margin: -1px auto 2px;
  }
  .builder-block.builder-c7ffcb3 {
    display: none;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
    width: 1400px;
    margin: -1px auto 2px;
  }
  @media only screen and (max-width: 991px) {
    .builder-block.builder-d7074f4 {
      margin-top: -1px;
      margin-bottom: 0;
      height: 75px;
      flex-grow: 0;
    }
    .builder-block.builder-fea8de1 {
      padding-bottom: 0;
      margin-bottom: 20px;
      width: 100%;
      display: none;
    }
    .builder-block.builder-c7ffcb3 {
      padding-bottom: 0;
      margin-bottom: 20px;
      width: 100%;
      display: flex;
    }
  }
  .builder-block.builder-e7c630f {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: 400px;
  }
  @media only screen and (max-width: 640px) {
    .builder-block.builder-d7074f4 {
      height: 90px;
      margin-top: 20px;
      width: 80%;
      padding-right: 15px;
      padding-left: 15px;
      margin-bottom: 10px;
      padding-top: 0;
    }
    .builder-block.builder-fea8de1 {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      margin-bottom: 50px;
      display: none;
    }
    .builder-block.builder-c7ffcb3 {
      width: 90%;
      display: flex;
      padding-left: 20px;
      padding-right: 20px;
      height: auto;
      flex-grow: 0;
      margin: 0 auto;
    }
    .builder-block.builder-e7c630f {
      height: auto;
      flex-grow: 0;
    }
  }
</style>
<div class="builder-component" data-name="marvel-scroll">
  <div
    class="builder-content"
    data-builder-content-id="5d76937b643140ddbb31a4966a228d30"
    data-builder-component="marvel-scroll"
    data-builder-variation-id="5d76937b643140ddbb31a4966a228d30"
  >
    <div
      builder-content-id="5d76937b643140ddbb31a4966a228d30"
      builder-model="marvel-scroll"
    >
      <div class="builder-block builder-d7074f4">
        <picture> </picture>
        <div
          class="builder-image-sizer"
          style="
            width: 100%;
            padding-top: 40.8%;
            pointer-events: none;
            font-size: 0;
          "
        ></div>
      </div>
      <div class="builder-block builder-fea8de1">
        <div class="builder-carousel"></div>
      </div>
      <div class="builder-block builder-c7ffcb3">
        <div class="builder-carousel"></div>
      </div>
      <div class="builder-block builder-e7c630f"></div>
    </div>
  </div>
</div>

</builder-component>

<script src="{{ 'custom-webcomponents.min.js' | asset_url }}" async></script>