<builder-component name="disney-scroll"  api-key="916d220a40fa459ea6ae8c091d2bdf18" rev="ea856c6dead9429fae39e29fa0a769dd" entry="960bb0472fd948539e1595677be78b93"  style="display: flex; flex-direction: column; align-items: stretch">

<style type="text/css" class="builder-styles builder-api-styles">
  .builder-block.builder-062fabf {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
    height: 125px;
    margin: 40px auto -2px;
  }
  .builder-block.builder-43934ae {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
    width: 80%;
    margin: -1px auto 2px;
  }
  .builder-block.builder-54a4d57 {
    display: none;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
    width: 1400px;
    margin: -1px auto 2px;
  }
  @media only screen and (max-width: 991px) {
    .builder-block.builder-43934ae {
      padding-bottom: 0;
      margin-bottom: 20px;
      width: 100%;
      display: none;
    }
    .builder-block.builder-54a4d57 {
      padding-bottom: 0;
      margin-bottom: 0;
      width: 100%;
      display: flex;
    }
  }
  @media only screen and (max-width: 640px) {
    .builder-block.builder-062fabf {
      height: 100px;
      margin-top: 15px;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
    .builder-block.builder-43934ae {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      margin-bottom: 50px;
      display: none;
    }
    .builder-block.builder-54a4d57 {
      width: 90%;
      padding-right: 20px;
      padding-left: 20px;
      margin: 0 auto -1px;
    }
  }
</style>
<div class="builder-component" data-name="disney-scroll">
  <div
    class="builder-content"
    data-builder-content-id="960bb0472fd948539e1595677be78b93"
    data-builder-component="disney-scroll"
    data-builder-variation-id="960bb0472fd948539e1595677be78b93"
  >
    <div
      builder-content-id="960bb0472fd948539e1595677be78b93"
      builder-model="disney-scroll"
    >
      <div class="builder-block builder-062fabf">
        <picture> </picture>
        <div
          class="builder-image-sizer"
          style="
            width: 100%;
            padding-top: 43.6%;
            pointer-events: none;
            font-size: 0;
          "
        ></div>
      </div>
      <div class="builder-block builder-43934ae">
        <div class="builder-carousel"></div>
      </div>
      <div class="builder-block builder-54a4d57">
        <div class="builder-carousel"></div>
      </div>
    </div>
  </div>
</div>

</builder-component>


<script src="{{ 'custom-webcomponents.min.js' | asset_url }}" async></script>